@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

.App {
  width: 100%;
  min-height: 100vh; /* Au moins 100% de la hauteur de la fenêtre visible */
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .postPage {
    flex-direction: row;
  }

  .leftSide,
  .rightSide {
    width: 50%;
  }
}

/* Pour les tablettes */
@media (max-width: 767px) {
  .postPage {
    flex-direction: column;
  }

  .leftSide,
  .rightSide {
    width: 100%;
  }
}
/* Pour les appareils mobiles */
@media (max-width: 480px) {
  .post {
    width: 90%;
    max-width: 100%;
    height: auto;
  }

  .post .title {
    font-size: 20px;
  }
}
body {
  margin: 0;
  padding: 0;
  background-image: url("../public/images/demonstration.jpg"); /* Remplacez 'lien_vers_l_image' par le lien de l'image de fond */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Cinzel", serif;
}

.post {
  width: 90%;
  max-width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: "Cinzel", serif;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: black;
  display: grid;
  place-content: center;
  color: gold;
  font-family: "Cinzel", serif;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  /* grid-gap: 20px; */
  /* Espace entre les posts */
}

.post .body {
  flex: 60%;
  padding: 10px; /* Espacement sur les côtés */
  padding-top: 20px; /* Espacement en haut */
  display: grid;
  place-content: center;
  color: white;
  overflow-y: auto; /* Ajouter la barre de défilement verticale au besoin */
  max-height: 80%; /* Limiter la hauteur pour activer la barre de défilement uniquement si nécessaire */
  white-space: pre-wrap;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: black;
  color: gold;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .username {
  flex: 50%;
  color: gold;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: gold;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: gold;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  font-family: "playfair", "sans-serif";
  color: gold;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: gold;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
  color: black;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: gold;
  font-weight: lighter;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(50vh - 50px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 1; /* Utilisez flex-grow pour que la partie droite prenne l'espace restant */
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}
.listOfComments .comment:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
}
.listOfComments .comment .username {
  color: gold;
  font-family: "Montserrat", sans-serif;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* 
.addCommentContainer input {
  border: 2px solid white;
} */

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: white;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

/* LOGIN */

.formContainer label {
  color: white; /* Couleur du texte blanc pour les labels */
}

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
.loginContainer button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Fond noir transparent */
  color: white;
}

.loginContainer button {
  color: gold; /* Couleur du texte pour le bouton */
  background-color: black;
}

.loginContainer input {
  color: white; /* Couleur du texte pour les champs de saisie */
}

.password-input-container {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: white; /* Couleur du texte pour l'icône du mot de passe */
}

#inputCreatePost {
  padding-right: 244px;
}
.formContainer #inputRepeatedPassword {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
  padding-right: 40px;
}

.formContainer #inputRepeatedPassword {
  padding-right: 244px;
}
.flash-message {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #3c763d;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  font-family: "Cinzel", serif;
  color: gold;
  position: relative;
}

.footer .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer a {
  margin-left: 20px;
  text-decoration: none;
  color: gold;
}

.footer p {
  margin-right: 20px;
  color: gold;
}

/* ... (votre CSS existant) ... */

/* NAVBAR */
.navbar {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  font-family: "playfair", "sans-serif";
  color: gold;
}

.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permettre aux éléments de se replier sur une nouvelle ligne si l'espace est insuffisant */
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: gold;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
  color: black;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: gold;
  font-weight: lighter;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  font-family: "Cinzel", serif;
  color: gold;
  /* position: fixed; */
  bottom: 0;
}

.footer .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permettre aux éléments de se replier sur une nouvelle ligne si l'espace est insuffisant */
}

.footer .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer a {
  margin-left: 20px;
  text-decoration: none;
  color: gold;
}

.footer p {
  margin-right: 20px;
  color: gold;
}

/* ... (votre CSS existant) ... */

/* ApiPage.css */
.api-page {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  margin: 20px;
}

.api-page h2 {
  color: gold;
}

.api-page ul {
  list-style-type: none;
  padding: 0;
}

.api-page li {
  margin-bottom: 10px;
}
